* {
    box-sizing: border-box;
}

.container-fluid {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

/* slider */
/* ----------------------------------------------------------------------------------- */

.b-slider-container {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-slider {
    padding: 30px 10px 20px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b-slide {
    max-width: 900px;
    padding: 9px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.b-slide__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.b-slide-pagination{
    display: flex;
    align-items: center;
    padding: 0;
    width: 160px;
    justify-content: space-between;
    padding-top: 20px;
}
.b-slide-pagination__btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
}
.b-slide-pagination__btn:hover {
    background-color: #81b300;
}
.b-slide-pagination__btn_position_edge {
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-slide-pagination__btn_active {
    background-color: #fff;
    border: 1px solid #333;
    cursor: auto;
}

/* latest_work */
/* --------------------------------------------------------------------------------- */

.b-latest-work {
    max-width: 960px;
    padding: 20px 30px 50px;
}

.b-latest-work_position_center {
    margin: 0 auto;
}

.b-article-card {
    padding: 30px 11px 0px;
}

.b-article-card__body {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.b-article-card__title {
    padding-top: 20px;
    font-size: 14px;
    color: #444444;
}

.b-article-card__text {
    font-size: 13px;
    color: #878787;
    line-height: 20.8px;
}

.b-article-card__btn {
    align-self: flex-end;
    font-size: 13px;
    color: #81b300;
    padding: 0;
}

.b-article-card__btn:hover {
    text-decoration: none;
}

/* copyright */
/* -------------------------------------------------------------------------------- */

.b-copyright-container {
    background-color: #2e2e2e;
}

.b-copyright {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;
    background-color: #2e2e2e;
    color: #737373;
    font-size: 12px;
}

.b-copyright_position_center {
    margin: 0 auto;
}

.b-copyright__content {
    padding: 0 10px;
}