* {
    box-sizing: border-box;
  }

.container-fluid {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
}

/* slider */
/* ----------------------------------------------------------------------------------- */

.slider_container {
    background-color: #f2f2f2;
}
.slider {
padding: 30px 10px 20px;
max-width: 960px;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
}
.slide {
    max-width: 900px;
    padding: 9px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}
.slide > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.slide_pagination{
    margin-top: 20px;
}
.slide_pagination li {
    list-style-type: none;
}

.slide_pagination ul {
    display: flex;
    align-items: center;
    padding: 0;
}
.slide_pagination a > div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    margin-right: 4px;
}
.slide_pagination li:first-child div, li:last-child div {
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide_pagination a > div:hover {
    background-color: #81b300;;
}
.slide_pagination a > div.active_page {
    background-color: #fff;
    border: 1px solid #333;
    cursor: auto;
}

/* latest_work */
/* --------------------------------------------------------------------------------- */

.latest_work {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 30px;
}

.latest_work .card {
    padding: 30px 11px 0px;
}

.latest_work .card-body {
    padding: 0;
    margin-top: 20px;
}

.latest_work .card-title {
    font-size: 14px;
    color: #444444;
}

.latest_work .card-text {
    font-size: 13px;
    color: #878787;
    line-height: 20.8px;
}
.latest_work .card-body{
    display: flex;
    flex-direction: column;
}
.latest_work .btn-link {
    align-self: flex-end;
    font-size: 13px;
    color: #81b300;
    padding: 0;
}

/* copyrigth */
/* -------------------------------------------------------------------------------- */

.copyright_container {
    background-color: #2e2e2e;
}
.copyright {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;
    background-color: #2e2e2e;
    color: #737373;
    font-size: 12px;
}

.copyright > div {
    padding: 0 10px;
}