* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
}

.container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  max-width: 990px;
}

.b-header__top {
  min-height: 135px;
  background-color: #ffffff;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media (max-width: 650px) {
  .b-header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0 30px;
  }
}

.b-top-border {
  height: 5px;
  background-color: #81b300;
}

.b-signup-login {
  width: 251px;
  height: 62px;
  font-size: 12px;
  padding-top: 46px;
}

.b-signup-login__link {
  color: #81b300;
  border-right: 1px solid #81b300;
  padding: 0 6px 0 1px;
}

.b-signup-login__link:hover {
  text-decoration: none;
  color: #00acee;
}

.b-signup-login__link:last-of-type {
  border: none;
}

.b-social {
  position: absolute;
  width: 251px;
  height: 49px;
  background-color: #81b300;
  top: 0;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-social_bottom-radius_15 {
  border-radius: 0 0 15px 15px;
}

.b-social-icon {
  display: block;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-social-icon:hover {
  color: #fff;
  background-color: #00acee;
  text-decoration: none;
}

.b-nav-and-search {
  min-height: 70px;
  background-color: #81b300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px 10px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.b-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

@media (max-width: 660px) {
  .b-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.b-nav__link {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  padding: 0 10px;
}

.b-nav__link:hover {
  color: #000;
  text-decoration: none;
}

.b-search {
  width: 280px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b-search__input {
  color: #7f7f7f;
  font-size: 12px;
  border: none;
  padding-left: 9px;
}

.b-search__submit {
  color: #81b300;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
  border-left: 1px solid #ddd;
}

.b-search__submit:hover {
  color: #000;
}

/* slider */
/* ----------------------------------------------------------------------------------- */
.b-slider {
  padding: 30px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.b-slide {
  max-width: 900px;
  padding: 9px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.b-slide__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.b-slide-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.b-slide-pagination__btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
}

.b-slide-pagination__btn:hover {
  background-color: #81b300;
}

.b-slide-pagination__btn_position_edge {
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.b-slide-pagination__btn_active {
  background-color: #fff;
  border: 1px solid #333;
  cursor: auto;
}

.b-services {
  padding: 50px 33px 0;
  background-color: #ffffff;
}

.b-services_position_center {
  margin: 0 auto;
}

.b-services-article-img {
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.b-services-article-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-services-article-card__title {
  color: #81b300;
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
}

.b-services-article-card__text {
  color: #888888;
  font-size: 13px;
  line-height: 20.8px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 34px;
}

.b-horizontal-line {
  width: 900px;
  height: 1px;
  background-color: #e2e2e2;
}

/* latest_work */
/* --------------------------------------------------------------------------------- */
.b-latest-work {
  background-color: #ffffff;
  padding: 20px 30px 50px;
}

.b-latest-work_position_center {
  margin: 0 auto;
}

.b-article-card {
  padding: 30px 11px 0px;
}

.b-article-card__body {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.b-article-card__title {
  padding-top: 20px;
  font-size: 14px;
  color: #444444;
}

.b-article-card__text {
  font-size: 13px;
  color: #878787;
  line-height: 20.8px;
}

.b-article-card__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 13px;
  color: #81b300;
  padding: 0;
}

.b-article-card__btn:hover {
  text-decoration: none;
}

.b-footer {
  padding: 41px 30px 0;
  background-color: #3b3b3b;
}

.b-footer_position_center {
  margin: 0 auto;
}

.b-footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
}

.b-footer-card__title {
  color: #666666;
  font-size: 13px;
  line-height: 15.6px;
  text-transform: uppercase;
  padding-bottom: 18px;
}

.b-footer-card__content {
  color: #999999;
  font-size: 13px;
  line-height: 20.8px;
}

.b-navbar__item {
  height: 30px;
  border-bottom: 1px solid #484848;
}

.b-navbar__link {
  color: #999999;
  font-size: 12px;
}

.b-navbar__link:hover {
  text-decoration: none;
  color: #81b300;
}

.b-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #999999;
}

.b-article__title {
  font-size: 13px;
  font-weight: bold;
}

.b-article__author {
  font-size: 11px;
  padding-bottom: 3px;
}

.b-article__text {
  font-size: 12px;
  line-height: 19.2px;
  margin-bottom: 0;
}

.b-article__link {
  color: #999999;
  font-size: 12px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.b-article__link:hover {
  text-decoration: none;
  color: #81b300;
}

.b-text-input, .b-submit-btn {
  color: #999999;
  background-color: #1f1f1f;
  font-size: 13px;
  border: none;
  border-radius: 5px;
}

.b-text-input {
  height: 31px;
  width: 200px;
  padding-left: 10px;
}

.b-text-input_margin-bottom_10 {
  margin-bottom: 10px;
}

.b-submit-btn {
  width: 80px;
  height: 31px;
  font-weight: bold;
  text-transform: uppercase;
}

.b-submit-btn:hover {
  color: #81b300;
}

/* copyright */
/* -------------------------------------------------------------------------------- */
.b-copyright {
  background-color: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  padding: 0 20px;
  background-color: #2e2e2e;
  color: #737373;
  font-size: 12px;
}

.b-copyright_position_center {
  margin: 0 auto;
}

.b-copyright__content {
  padding: 0 10px;
}
/*# sourceMappingURL=style.css.map */